<h1><%= @club.name %></h1>

<p>
  <strong>Country:</strong> <%= @club.country.name %>
</p>

<% if @club.stadium %>
  <p>
    <strong>Stadium:</strong> <%= @club.stadium.name %>
  </p>
<% end %>

<h2>Squad</h2>
<% if @squad.any? %>
  <ul>
    <% @squad.each do |contract| %>
      <li><%= contract.player.known_as %> (#{contract.player.position})</li>
    <% end %>
  </ul>
<% else %>
  <p>No players</p>
<% end %>

<%= link_to "Back to Clubs", clubs_path %>
